@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Roboto&family=Roboto+Condensed&display=swap');

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
}

header {
    background-color:aqua;
}

input[type=text]{
    margin: 5px 0;
    padding: 5px;
    border-radius:10px;
    border: 1px solid;
}

#grade_point_scale {
    box-shadow: 1px 1px 4px  rgba(0, 0, 0, 0.9);
    padding: 15px;
    border-radius: 5px;
    margin: 5px 5px;
    flex-wrap: wrap;
}