@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Roboto&family=Roboto+Condensed&display=swap');

body {
    background-color: rgb(255, 253, 251);
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    align-items: center;
    
}

input[type=text]{
    padding: 5px;
    margin-bottom: 10px;
    border-radius:10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    
}
#grade_point_scale {
    background-color: white;
    display: flex;
    box-shadow: 1px 1px 4px  rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 5px;
    margin: 5px 5px;
    justify-content: space-around;
}
#forms{
    flex-wrap: wrap;
    
}
#colorChange {
    border: 1px solid rgb(169, 169, 169);
    padding: 1.5em;
    line-height: 1.5;
    border-radius: 10px;
}